/*
* @Author: linjs
* @Date:   2018-02-03 10:50:18
* @Last Modified by:   linjs
* @Last Modified time: 2018-02-03 14:49:54
*/
div {
	margin: 0;
	padding: 0;
}
.jGritter {
	position: fixed;
	top: 10px;
	right: 4px;
	width: 200px;
	height: 100px;
	background-color: #ddd;
	border-radius: 4px;
	color: #ddd;
	z-index: 9999;
}
.jGritter.jGritter-success {
	background-color: rgb(7, 114, 7);
}
.jGritter.jGritter-error {
	background-color: #a21a1a;
}
.jGritter .close {
	float: right;
	margin-right: 4px;
	font-size: 20px;
}
.jGritter .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
 }
.jGritter .title p {
	font-size: 18px;
	padding: 4px 8px;
	margin: 0;
}
.jGritter .content p {
	font-size: 16px;
	padding: 4px 8px;
	margin: 0;
}